{% extends 'baseBack.html.twig' %}

{% block body %}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Form reservation </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Reservations management</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Form reservation</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">New reservation</h4>
                            {{ form_start(form) }}
                            {{ form_label(form.evenement,'Event name' )}}
                            {{ form_widget(form.evenement , {'attr' : {'class' : ' form-control' , 'placeholder' : 'Event name'}}) }}
                            {{ form_label(form.DateReservation,'Reservation date') }}
                            {{ form_widget(form.DateReservation , {'attr' : {'class' : ' date' , 'placeholder' : 'Date reservation'}}) }}
                            {{ form_widget(form.submit , {'attr' : {'class' : ' btn btn-lg btn-primary my-4' , 'placeholder' : 'submit'}}) }}
                            {{ form_end(form) }}
                        </div>
                        <div class="badge badge-outline-warning"><a href="{{ path('reservation_index') }}">back to list</a>

                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

