{% extends 'baseBack.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <h4 class="card-title">Striped Table</h4>
        <div class="card-body">
            <p class="card-description">
            </p>
            <div>
                {% for messages in app.flashes("communication") %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{messages}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Envoyer un message</h1>
                {{ form(form) }}
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    Voir mes dossiers
                </a>
            </div>
        </div>
    </section>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path("communication") }}" class="list-group-item list-group-item-action">Accueil</a>
            </div>
            <div class="list-group">
                <a href="{{ path("received") }}" class="list-group-item list-group-item-action">Boîte de réception</a>
            </div>
            <div class="list-group">
                <a href="{{ path("sent") }}" class="list-group-item list-group-item-action">Eléments envoyés</a>
            </div>
        </div>
    </div>
{% endblock %}
