{% extends 'baseFront.html.twig' %}

{% block title %}New Product{% endblock %}
{% block body %}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div>
                            <h4 class="card-title" style="color:Tomato;">Add Reclamation</h4>

                            <p class="card-description"></p>
                            </div>
                            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}})}}
                            <div class="form-group">
                                <label for="exampleInputUsername1">reference</label>
                                {{ form_widget(form.reference,{'attr' : {'class' : 'form-control' }} ) }}
                                {{ form_errors(form.reference) }}
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Title</label>
                                {{ form_widget(form.Title , {'attr' : {'class' : 'form-control'  }}  ) }}
                                {{ form_errors(form.Title) }}
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea1">Description</label>
                                {{ form_widget(form.Description, {'attr' : {'class' : 'form-control' }}  ) }}
                                {{ form_errors(form.Description) }}
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    <div class="form-group">
                                        <label for="exampleFormControlInput">Are you a robot ?</label>
                                        {{ form_widget(form.captchaCode, {'attr' : {'class' : 'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary mr-2">{{ button_label|default('Save') }}</button>

                            <button type="reset" class="btn  btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

