{% extends 'baseFront.html.twig' %}
{% block body %}
    <div class="main-panel">
    <div class="content-wrapper">
    <div class="page-header"></div>
    <div class="row">
    <div class="col-12 grid-margin stretch-card">
    <div class="card">
    <div class="card-body">
    <h4 class="card-title">Modify Reclamation </h4>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}})}}
    <div class="form-group">
        <label for="exampleInputUsername1">Reference</label>
        {{ form_widget(form.reference) }}
        {{ form_errors(form.reference) }}
    </div>
    <div class="form-group">
        <label for="exampleInputUsername1">Title</label>
        {{ form_widget(form.Title , {'attr' : {'class' : 'form-control'  }}  ) }}
        {{ form_errors(form.Title) }}
    </div>
    <div class="form-group">
        <label for="exampleTextarea1">Description</label>
        {{ form_widget(form.Description, {'attr' : {'class' : 'form-control' }}  ) }}
        {{ form_errors(form.Description) }}
    </div>
    <button class="btn btn-primary mr-2" href="{{path('frontlist')}}"> {{ button_label|default('Save') }}</button>

    <button type="reset" class="btn  btn-danger"><i class="fa fa-ban"></i> Cancel</button>
    {{ form_end(form) }}
    <div/>
    <div/>
    <div/>
    <div/>
{% endblock %}