{% extends 'baseBack.html.twig' %}

{% block title %}reclamation index{% endblock %}

{% block body %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <h4 class="card-title">Striped Table</h4>
            <div class="card-body">
                <p class="card-description">
                </p>
                <div class="table-responsive">
                    <table class="table table-striped">
                       <ul class="navbar-nav w-100">
                            <li class="nav-item w-100">
                                    {{ form_start(form)}}
                                    {{ form_widget(form) }}
                                    {{ form_end(form) }}
                            </li>
                        </ul>
                        <thead>
                        <tr>
                            <th>Nom de client</th>
                            <th>reference</th>
                            <th>Titre</th>
                            <th>Date de resolution </th>
                            <th>Date de création </th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Contact</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for reclamation in reclamations %}
                            <tr>
                                <td>{{reclamation.clients.firstname ~ reclamation.clients.lastname }}</td>
                                <td>{{reclamation.reference }}</td>
                                <td>{{reclamation.Title }}</td>
                                <td>
                                {% if reclamation.createResolution|date('Y') !='2000'  %}
                                {{ reclamation.createResolution|date('Y-m-d')}}
                                {% else %}
                                    null
                                {% endif %}
                                </td>

                                <td>{{ reclamation.createDate|date('Y-m-d') }}</td>
                                <td>{{ reclamation.Description }}</td>
                                <td>
                                    {% if reclamation.status!='refus' and reclamation.status!='accept'  %}
                                    <div style="display: flex">
                                    <form action="{{ path('refus_status', {'id': reclamation.id}) }}">
                                        <button type="submit" style="background: transparent;border: none" >
                                    <a class="mdi mdi-window-close"  ></a>
                                        </button>
                                    </form>
                                    <form action="{{ path('accept_status', {'id': reclamation.id}) }}">
                                        <button style="background: transparent;border: none" type="submit" ><a  class="mdi mdi-check-circle" ></a></button>
                                    </form>
                                    </div>
                                    {% else %}
                                        {{ reclamation.status }}
                                    {% endif %}

                                </td>
                                <td>
                                <form action="{{ path('communication')}}">
                                    <button style="background: transparent;border: none" type="submit" ><a  class="mdi mdi-comment-multiple-outline" ></a></button>
                                </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                   <div class="navigation">
                <div style="text-align: center">
                    {{ knp_pagination_render(reclamations) }}
                </div>
                   </div>
            </div>
        </div>
    </div>

{% endblock %}


