{% extends 'baseFront.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
 <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg="{{ asset('uploads/') ~product.image}}" alt="" class="img-fluid">
                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>{{ product.ProductName }}</h3>
                                <span>{{ product.Reference }}</span>
                            </div>
                           
                            <p>{{ product.Description }}</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Nom:</span>{{ product.ProductName }}</li>
                                            <li><span>Prix:</span>{{ product.Price }}TND</li>
                                        
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <a href="#" class="watch-btn"><span>Watch Now</span> <i
                                    class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
   
    
{% endblock %}





        
           
                
                
           

    
    
    

