<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}map:{{ e.NameEvent }}{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.6.0/maps/maps.css'/>
    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.6.0/maps/maps-web.min.js'></script>
    <style>
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100vw;
            height: 100vh;
        }
    </style>

<body>
<div id='map'></div>
<script>
    var centerm = [{{ e.lng }},{{ e.lat }}];

    var map = tt.map({
        container: 'map',
        key: '0MWBNiAVRIke92CSc6vjYjseKJUmQSLy',
        center: centerm,
        zoom: 6
    });

    var marker = new tt.Marker().setLngLat(centerm).addTo(map);
    var popupOffsets = {
        top: [0, 0],
        bottom: [0, -70],
        'bottom-right': [0, -70],
        'bottom-left': [0, -70],
        left: [25, -35],
        right: [-25, -35]
    }

    var customPopup = '<p style="display:inline">' +

        '<div style="width:100%; height:100%; padding-top:10px"><span style="font:14px Gotham">{{ e.Labelle }}</span></br>' +
        '<div style="width:100%; height:100%; padding-top:10px"><span style="font:14px Gotham">{{ e.Lieu }}</span></br>' +

        '</div></p>';

    var popup = new tt.Popup({offset: popupOffsets}).setHTML(customPopup);
    marker.setPopup(popup).togglePopup();

</script>
</body>
</html>